@model AgenciaDeViagens.Models.Passagem

@{
    ViewData["Title"] = "Create";
}

<h1>Pacote</h1>
<h3>Destinos para se aventurar pelo Brasil</h3>
<hr>
        <!--FORMULÁRIO DE COMPRA-->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPartida" class="control-label"></label>
                <input asp-for="DataPartida" class="form-control" />
                <span asp-validation-for="DataPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgenciaCadastur" class="control-label"></label>
                <select asp-for="AgenciaCadastur" class="form-control" asp-items="ViewBag.AgenciaCadastur"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-primary" />
            </div>
        </form>
    </div>
 </div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>
<footer id="rodape" class="border-top footer text-muted">
    <div class="container text-center">
        <img width=20% src="~/imagem/Bandeira-dos-Cartões-e-Boleto.png" alt="Formas de pagamento">
        <p>&copy; 2021 - AgenciaDeViagens </p>
    </div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
