@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Destino";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Luciana Meireles">
    <meta name="palavra-chave" content="html5,viagens">
    <title>Destinos - Eco tour</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Destinos</h1>
    <hr>
    <H2>Destinos para se aventurar pelo Brasil</H2>
    <table border="0" width=100% cellpadding=>
        <tr>
            <ol>
                <li>Bonito (MS)</li>
                <li>Nobres (MT)</li>
                <li>Jalapão (TO)</li>
                <li>Itacaré (BA)</li>
                <li>Fernando de Noronha (PE)</li>
                <li>Lençóis Maranhenses (MA)</li>
            </ol>
        </tr>
    </table>
    <div class="card mb-3">
        <img src="~/Imagem/bonito-mato-grosso-do-sul.jpg" class="card-img-top" alt="Bonito - MS">
        <div class="card-body">
            <h5 class="card-title">Bonito - MS</h5>
            <p class="card-text">
                Bonito, no Mato Grosso do Sul, é considerado um dos destinos mais bonitos de ecoturismo no Brasil.
                É um dos destinos mais procurados por turistas que buscam esse tipo de roteiros, já que possui cachoeiras, rios, vegetação e tranquilidade.<br>
                Esse é um destino de snorkeling repleto de peixes, rapel e mergulho em grutas.
                Mas caso você queira passeios mais calmos, você também encontra flutuação em lagoas e passeios de bote pelas cachoeiras.
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="~/Imagem/NobresMt.jpg" class="card-img-top" alt="Nobres - MT">
        <div class="card-body">
            <h5 class="card-title">Nobres - MT</h5>
            <p class="card-text">
            <p>
                Nobre é um verdadeiro oásis com rios cristalinos, grutas e cachoeiras.Por isso é um ótimo destino para mergulho e flutuação e também é o ambiente ideal para quem busca paisagens encantadoras.
            </p>
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="~/Imagem/jalapao.jpg" class="card-img-top" alt="Jalapão - TO">
        <div class="card-body">
            <h5 class="card-title">Jalapão - TO</h5>
            <p class="card-text">
            <p>
                Se um dos seus sonhos é um dia poder fazer um safári, saiba que você pode conquistar este desejo no Brasil.vale a pena destacar que ao se aventurar pelo Jalapão é preciso estar animado!Isso porque você encontrará muitas trilhas, estradas de terra, rios, cachoeiras, espaços naturais intactos e fervedouros.
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="~/Imagem/itacare-ba.jpg" class="card-img-top" alt="Itacaré - BA">
        <div class="card-body">
            <h5 class="card-title">Itacaré - BA</h5>
            <p class="card-text">
                Itacaré, na Bahia, é um pequeno paraíso localizado ao sul de Salvador.Esbanja exuberância da natureza quase intocada, além das áreas propícias para a prática de atividades sustentáveis.Você pode visitar praias desertas, dunas e falésias que cercam a região, fazer caminhadas e trilhas em meio a mata atlântica.
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="~/Imagem/fernando-de-noronha-pe.png" class="card-img-top" alt="Fernando de Noronha - PE">
        <div class="card-body">
            <h5 class="card-title">Fernando de Noronha - PE</h5>
            <p class="card-text">
                É um parque marinho e santuário ecológico protegido com uma linha costeira recortada e vários ecossistemas.
                Por isso, ao se planejar para visitar este destino, fique atento a todas as regras da ilha!
                Inclusive, Fernando de Noronha possui algumas das praias menos urbanas do país.
                Porém, é um roteiro conhecido por quem deseja praticar mergulho ou snorkeling.
                Ah, você também encontra na região tartarugas marinhas, raias, golfinhos e tubarões, além de águas quentes e cristalinas.
            </p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="~/Imagem/lencois-maranhenses.jpg" class="card-img-top" alt="Lençóis Maranhenses - MA">
        <div class="card-body">
            <h5 class="card-title">Lençóis Maranhenses - MA</h5>
            <p class="card-text">
                No Maranhão, você pode fazer ecoturismo dentro do Parque Nacional dos Lençóis Maranhenses.
                A região é famosa pelas altas dunas de areia branca e pelas águas esverdeadas.
                Na região existe restingas, praias, lagoas, rios, mangues, fauna e flora diversificada – são três biomas diferentes: Amazônia, Cerrado e Caatinga.
                Portanto, são uma ótima opção para quem deseja passear de buggy.
                Já as lagoas de água doce, por vezes são cristalinas, em outras são esverdeadas.
            </p>
        </div>
    </div>
    <footer id="rodape" class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; 2021 - AgenciaDeViagens </p>
        </div>
    </footer>
</body>
</html>